.tile {
    display: inline-block;
    overflow: hidden;
    text-align: center;
    vertical-align: middle;
    margin: 1px;
}

.selected {
    border: 2px solid mediumslateblue;
}

.imgTile {
    position: relative;
}

.owner {
    background-color: rgba(0, 0, 255, 0.5);
    opacity: 0.4;
    filter: alpha(opacity=40);
    cursor: not-allowed;
}

.sold {

}